*
{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body
{
   font-family: 'Lato', sans-serif;
}
:root
{
  --mainColor:#f57224;
  --whiteColor:#fff;
  --blackColor:#000;
  --lightDark:#222;

}
nav
{
  width: 100%;
  height:70px;
  line-height:70px;
  padding:0 100px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  display: flex;
  
  position: sticky;

  
}
.left
{
  width:50%;
  text-align: left;
}
.right
{
  width: 50%;
  
   display: flex;
  justify-content: flex-end;

}
.left a
{
  font-weight: 700px;
  color:var(--mainColor);
  font-size: 30px;
}
.shoppingcart i
{
  font-size: 20px;
  display: inline-block;
  color:var(--lightDark);
  margin-right: 15px;

}
.cartcount
{
  display: inline-block;
  width: 35px;
  height: 35px;
  background: var(--mainColor);
  color:var(--whiteColor);
  border-radius: 50%;
  line-height: 35px;
  text-align: center;

}
.right
{
  width: 50%;
  text-align: right;
}
nav ul{
  list-style: none;
}
nav ul a{
  text-decoration: none;
}
.container
{
  width: 100%;
  padding: 0 100px;
}
header
{
  width: 100%;
  background: url("./assests/pexels-andrea-piacquadio-919436.jpg");
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat; 
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff;



}
.headertext h1
{
  font-size:35px;
  color: red;

}
.headertext p
{
  margin-top: 7px;
  color: red;
}
.products
{
  display: flex;
  flex-wrap: wrap;
  padding:0 100px;
  width: 100%;
}
.product
{
  width: 25%;
  padding: 0 12px;
  margin:20px 0;
  overflow: hidden;
  position: relative;

}
.product-image
{
  width: 100%;
  height:200px;
  cursor: pointer;
}

.product-detail
{
  text-align: center;
  padding:15px 15px;
  background: white;
}
.product-name
{
  font-size: 18px;
  font-weight: 500;
  padding:15px 15px;
  color:blue;
}
.product-price
{
  font-size: 18px;
  font-weight: 300;
  padding: 15px,15px;
  color:red;
}
.cart
{
  background: var(--mainColor);
  width: 100%;
  text-align: center;
padding:10px 20px;
  color:white;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;

}
.hot
{
  padding:5px 5px;
  color: red;
  position: absolute;
  top:0;

}
.new
{
  padding:5px 5px;
  color: red;
  position: absolute;
  top:0;


}
.cart-container
{
  width: 100%;
  margin-top: 40px;
  padding:0 100px;
    display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

 

}
.card-details
{
  width: 75%;
  border: 1px solid #fafafa;
  border-radius: 5px;
}
.carts
{
  display:  flex;
  align-items: center;
  padding: 15px 20px;
}
.cart-image
{
  display: inline-block;
  width:80px;
  height:80px;
  border-radius: 5px;
  overflow: hidden;
}
.cart-image img
{
  width: 100%;
  height: 100%;
}
.cart-product-name
{
  display: inline-block;
  width: 150px;
  padding:0 15px;
  font-weight: bold;
  font-size: 14px;
}

.cart-product-price
{
  display: inline-block;
  width: 120px;
  text-align: center;
  font-weight: bold;
  color:red;
  padding: 0 15px;


}
.inc
{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid green;
  color:red;
  cursor: pointer;
}
.product-quantity
{
  display: inline-block;
  width: 70px;
  text-align: center;
  padding: 0 15px;
}
.dec
{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid green;
  color:red;
  cursor: pointer;
}
.product-total-price
{
  display: inline-block;
  width:170px;
  text-align: center;
}
.deleted
{
  border: none;
  cursor: pointer;
}
.cart-summary
{
  width: 25%;
  padding: 0 0 0 20px;
}
.summary
{
  background: white;
  padding: 13px;
}
.summary h3
{
  font-size: 25px;
  border-bottom: 1px solid green;
}
.total-Item
{
  display: flex;
}
.items
{
  width: 50%;
  text-align: left;
}
.items-count
{
  width: 50%;
  text-align: right;
  font-weight: bold;
  color:red;
}
.total-price
{
  display: flex;
}
.just-title
{
   width:50%;
  text-align:left;
  margin-left: 2px;
}
.price
{

  width: 50%;
  text-align: right;
  font-weight: bold;
  color:red;
}

